 .main{
    
     flex:0.1;
      margin:18px 20px ;
     
 }
 .main-inputcontainer{
   
       background-color: rgb(243, 243, 243);
       border-radius: 20px;
       padding: 10px;
       padding-bottom: 10px;
        margin-bottom: 0px;
 }
 .main-input{
        display: flex;
       background-color: white;
       border-radius: 20px;
       border: 1px solid black;
       padding:10px;
       padding-left:50px;
       padding-bottom: 10px;
       margin-bottom: 10px;
       margin-top:10px;
       font-size: 25px;
 }
  .main-icon{
      display: flex;
      margin-right: 10px;
  }
  .main-text{
      width:400px;
      height:40px;
      border: hidden;
      
  }
  .main-btn{
      height:50px;
      width: 700px;
      border-radius: 30px;
       font-size: 18px;
      padding-right: 600px;
  }
  .mainoptions{
      display:flex;
      font-size: 18px;
       justify-content: space-evenly;
  }
 
     
  